﻿body {
    font-family: "Arial", arial, sans-serif;
    background-color: #E6EBE0;
}

h1 {
    text-align:center;
    color: #FAC9A7;
    background-color:#000;";
    margin-left: 0px;
}
h2 {
    text-align:center;
    color: #FAC9A7;
    background-color: #000;
    margin-left: 0px;
}
</style>
</head>
